/__pycache__/
/CPAug/
/data/
/external/
/layers/
/logs/
/material/
/music/
/riich/
/save/
/save_movie/
/save2/
/scripts/
/time/
/trigger/
/trigger2/
/utils/
/web/
/tmp/
/weights/
/scripts/
/.vscode/
/utils/
/results/

*.mp4
*.png
*.yml
*.csv